body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1 {
    font-size: 40px;
}

span {
    color: rgb(227, 151, 10);
}

.flaxible-container {
    display: flex;
    margin: 80px;
    
}

.half-width {
    width: 50%;
    padding-left: 3%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(217, 145, 12);
    padding: 5px 20px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}


    
     .my-goal{
     
        display: flex;
     }
     .full img{
        padding: 50%;
     }
     .my-goal{
        display: flex;
     }
     .another-banner{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        
        
        
     }
     .oran{
        color: rgb(219, 147, 13);
     }
     .experience{
        box-shadow: 10px 10px 40px gray;
        width: 45%;
        margin-left: 10px;
        margin-right:10px;
        padding-left:10px; 
        border-left: 7px solid blue;
       
     }
     .experience-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        
     }
     #pro{
        border-left: 7px solid tomato;
     }
     footer{
        text-align: center;
     }